body {
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  border: 2px solid #e5e5e5;
  height: 100vh;
  background: rgb(232, 232, 232);
  background: linear-gradient(
    90deg,
    rgba(232, 232, 232, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
  align-self: center;
}

main {
  flex: 8;
  align-self: center;
  display: flex;
  flex-direction: column;
}

h2 {
  align-self: center;
}

small {
  align-self: center;
}

footer {
  flex: 3;
  display: flex;
  align-content: center;
}

.left {
  flex: 1;
  background-color: #18181c;
  margin: 0.75rem;
  border-radius: 0.5rem;
}

.right {
  flex: 1;
  background-color: #fff;
  margin: 0.75rem;
  border-radius: 0.5rem;
}

.topup {
  width: 100%;
}
